name: Binaries

defaults:
  run:
    shell: bash

on:
  pull_request:
  release:
    types: [created]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        ghc: ["8.8.4", "8.6.5"]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/setup-haskell@v1
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc }}

      - uses: actions/cache@v2
        name: Cache cabal store
        with:
          path: dist-newstyle
          key: cache-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal-cache.cabal') }}-${{ github.sha }}
          restore-keys: cache-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal-cache.cabal') }}-

      - name: Set some window specific things
        if: matrix.os == 'windows-latest'
        run: echo '::set-env name=EXE_EXT::.exe'

      - name: Configure project
        run: cabal configure --enable-tests --enable-benchmarks --write-ghc-environment-files=ghc8.4.4+

      - name: Restore cabal cache
        uses: haskell-works/cabal-cache-action@v1
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          BINARY_CACHE_REGION: ${{ secrets.BINARY_CACHE_REGION }}
          BINARY_CACHE_THREADS: ${{ secrets.BINARY_CACHE_THREADS }}
          BINARY_CACHE_URI: ${{ secrets.BINARY_CACHE_URI }}
        with:
          args: |
            sync-from-archive \
              --threads       "$BINARY_CACHE_THREADS" \
              --archive-uri   "$BINARY_CACHE_URI" \
              --region        "$BINARY_CACHE_REGION" \
              --store-path    "${{ steps.setup-haskell.outputs.cabal-store }}"

      - name: Build
        # Try building it twice in case of flakey builds on Windows
        run: |
          cabal build all --enable-tests --enable-benchmarks --write-ghc-environment-files=ghc8.4.4+ || \
          cabal build all --enable-tests --enable-benchmarks --write-ghc-environment-files=ghc8.4.4+ -j1

      - name: Test
        run: |
          cabal test all --enable-tests --enable-benchmarks --write-ghc-environment-files=ghc8.4.4+

      - name: Save cabal cache
        uses: haskell-works/cabal-cache-action@v1
        if: ${{ always() }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          BINARY_CACHE_REGION: ${{ secrets.BINARY_CACHE_REGION }}
          BINARY_CACHE_THREADS: ${{ secrets.BINARY_CACHE_THREADS }}
          BINARY_CACHE_URI: ${{ secrets.BINARY_CACHE_URI }}
        with:
          args: |
            sync-to-archive \
              --threads       "$BINARY_CACHE_THREADS" \
              --archive-uri   "$BINARY_CACHE_URI" \
              --region        "$BINARY_CACHE_REGION" \
              --store-path    "${{ steps.setup-haskell.outputs.cabal-store }}"

      - name: Compress Binary
        id: compress_binary
        env:
          GHC_VER: ${{ matrix.ghc }}
        run: |
          HS_BIN=$(find dist-newstyle \( -name 'cabal-cache' -o -name 'cabal-cache.exe' \) -type f | head -n 1)
          test -f "$HS_BIN"
          NAME="cabal-cache"

          case ${{ matrix.os }} in
            ubuntu-*)   os="linux"    ;;
            macOS-*)    os="darwin"   ;;
            windows-*)  os="windows"  ;;
            *)          exit 1        ;; # error
          esac
          os_arch="$(uname -m)-$os"

          cp "$HS_BIN" "$NAME${{env.EXE_EXT}}"
          [ "$OS" != Windows_NT ] && strip "$NAME${{env.EXE_EXT}}"

          mkdir -p artifacts

          7z a "artifacts/$NAME-$os_arch.zip" "$NAME${{env.EXE_EXT}}"
          echo "::set-output name=path_zip::$NAME.zip"

          gzip -c --best "$NAME${{env.EXE_EXT}}" > artifacts/$NAME-$os_arch${{env.EXE_EXT}}.gz
          echo "::set-output name=path_gzip::$NAME.gz"

          tar zcvf "artifacts/$NAME-$os_arch.tar.gz" "$NAME${{env.EXE_EXT}}"
          echo "::set-output name=path_targz::$NAME.targz"

      - uses: actions/upload-artifact@v2
        with:
          name: cabal-cache-${{ runner.OS }}-${{ matrix.ghc }}
          path: artifacts

  release:
    needs: build
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}

    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: true
          prerelease: false

  publish:
    needs: [build, release]
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        ghc: ["8.8.4"]
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
      - uses: actions/download-artifact@v2
        id: download_artifact
        with:
          name: cabal-cache-${{ runner.OS }}-${{ matrix.ghc }}
          path: artifacts

      - name: URL
        run: ls artifacts

      - name: Compute axes
        id: axes
        run: |
          case ${{ matrix.os }} in
            ubuntu-*)   os="linux"    ;;
            macOS-*)    os="darwin"   ;;
            windows-*)  os="windows"  ;;
            *)          exit 1        ;; # error
          esac
          arch_os="$(uname -m)-$os"
          echo "::set-output name=os_arch::$os_arch"

      - name: Set some window specific things
        if: matrix.os == 'windows-latest'
        run: echo '::set-env name=EXE_EXT::.exe'

      - name: Upload Release Binary
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: artifacts/cabal-cache-${{ steps.axes.outputs.os_arch }}${{env.EXE_EXT}}.gz
          asset_name: cabal-cache-${{ steps.axes.outputs.os_arch }}.gz
          asset_content_type: application/gzip

      - name: Upload Release Binary
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: artifacts/cabal-cache-${{ steps.axes.outputs.os_arch }}.tar.gz
          asset_name: cabal-cache-${{ steps.axes.outputs.os_arch }}.tar.gz
          asset_content_type: application/gzip

      - name: Upload Release Binary
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: artifacts/cabal-cache-${{ steps.axes.outputs.os_arch }}.zip
          asset_name: cabal-cache-${{ steps.axes.outputs.os_arch }}.zip
          asset_content_type: application/zip
